@import "bootstrap/bootstrap.less";

.unselectable(@selectable: none) {
        -moz-user-select: @selectable; 
        -khtml-user-select: @selectable; 
        -webkit-user-select: @selectable; 
        -o-user-select: @selectable;
}

.bg-img(@img) {
	background-image: url("../images/@{img}");
}

#contenidor{
	.unselectable();
	.bg-img("coche.jpg");
	top:20%;
	left:20%;
	position:absolute;	
	width:400;
	height:215;
	background-repeat: no-repeat;
	#porcio_aleta_Frontal_D{
		width:125px;
		height:50px;
	}
	#porcio_retrovisor_Dreta{
		left:126px;
		width:30px;
		height:50px;	
	}
	#porcio_porta_Frontal_D{
		left:157px;
		width:90px;
		height:50px;
	}
	#porcio_porta_Anterior_D{
		left:248px;
		width:90px;
		height:50px;	
	}
	#porcio_aleta_Anterior_D{
		left:339px;
		width:60px;
		height:50px;		
	}
	#porcio_paraxocs_Anterior{
		top:51px;		
		left:369px;
		width:30px;
		height:115px;
		h5{
			position:relative;
			top:22px;
			font-size:10px;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
		}			
	}
	#porcio_maleter{
		top:51px;		
		left:318px;
		width:50px;
		height:115px;		
	}
	#porcio_aleta_Anterior_E{
		top:167px;
		left:339px;
		width:60px;
		height:50px;
	}
	#porcio_porta_Anterior_E{
		top:167px;		
		left:248px;
		width:90px;
		height:50px;
	}
	#porcio_porta_Frontal_E{
		top:167px;		
		left:157px;
		width:90px;
		height:50px;		
	}
	#porcio_retrovisor_Esquerra{
		top:167px;			
		left:126px;
		width:30px;
		height:50px;		
	}
	#porcio_aleta_Frontal_E{		
		top:167px;
		width:125px;
		height:50px;
	}
	#porcio_paraxocs_Frontal{
		top:51px;		
		width:20px;
		height:115px;
		h5{
			position:relative;
			top:40px;
			font-size:10px;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
		}	
	}
	#porcio_tapa_Frontal{
		top:51px;
		left:21px;	
		width:80px;
		height:115px;	
	}
	#porcio_sostre{
		top:51px;
		left:175px;	
		width:142px;
		height:115px;		
	}

	@color_porcio: cyan;
	.porcio{
		cursor:pointer;
		color:red;
		background-color: @color_porcio;
		border:solid @color_porcio - 300;
		position:absolute;		
		.opacity(0.4);
		&:hover{	
				background-color: @color_porcio - 250;
				.opacity(0.4);
		}
		&:active,&.porcio_activa{	
				background-color: @color_porcio - 250;
				.opacity(0.4);
		}				
	
	}
}

#formulari{
	top:400px;
	left:20%;
	position:absolute;
}

#contacte{
	top:75px;
	left:70%;
	position:absolute;
}

#total{
	top:600px;
	left:20%;
	position:absolute;
}

#errors{
	top:200px;
	left:40%;
	position:absolute;
}

